body
{
  margin: 300px;
  font-family: monospace;
  color: white;
  background-color: black;
  font-size: 150%;
}
h1
{
	text-align: left;
  font-style: bold;
  color: orange;
}
body{
  color: blue;
}
figure
{
	text-align: center;
	font-style: italic;
}
ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
}